.background {
    background: url("https://s3.ap-south-1.amazonaws.com/img1.creditmantri.com/community/article/personal-loan-for-it-employees.jpg") no-repeat center center fixed;
    background-size: cover;
    margin-right: 4%;
    border: 0 solid transparent;
   
    
}
.header{
    color:#0000b3;
    font-weight: bolder;
}
.container{
    background-color: orange;
    margin-top:9.5%;
    border-radius: 25px;
    padding: 70px;
    width: 45%;
    height: 20%;
    box-shadow: 0 0 20px  black;
    
}

.button-calculate{
    border-radius: 90px;
    margin-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

.installment-details{
    padding-top: 8%;
}

